
.slogan{
    flex-direction: column;    
}
    .slogan h1 {
        flex-shrink: 0;
        color: #1E1E1E;
        font-family: Arial;
        font-size: 25px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        text-transform: uppercase;
    }

    .slogan h2{
        color: #CE5404;
        font-family: Arial;
        font-size: 40px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }
    .slogan p{
        flex-shrink: 0;
        color: #1E1E1E;
        font-family: Arial;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
    .slogan a{
        color: #FFF;
        font-family: Arial;
        font-size: 25px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        border-radius: 150px;
        background: #00314F;

    }

.nossostrabalhos{
    padding-top: 16px;
}
    .nossostrabalhos h2{
        color: #CE5404;
        text-transform: uppercase;
        font-family: Arial;
        font-size: 40px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }
    .nossostrabalhos p{
        color: #1E1E1E;
        text-align: center;
        font-family: Arial;
        font-size: 25px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;

    }

