.header{
    height: 430px;
    background-image: url('imagens/BannerConcreService.png');
    background-repeat: no-repeat;
    background-position:right;
}

.slogan{
    flex-direction: column;    
}
    .slogan h1 {
        flex-shrink: 0;
        color: #1E1E1E;
        font-family: Arial;
        font-size: 25px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        text-transform: uppercase;
    }

    .slogan h2{
        color: #CE5404;
        font-family: Arial;
        font-size: 40px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }
    .slogan p{
        flex-shrink: 0;
        color: #1E1E1E;
        font-family: Arial;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
.botao{
    text-decoration: none;
    color: #FFF;
    font-family: Arial;
    font-size: 25px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    border-radius: 150px;
    background: #00314F;
    padding: 8px 50px;

}
    .botao svg{
        margin-left: 10px;
    }

.nossostrabalhos{
    margin-top: 50px;
    background-image: url(imagens/bolinhas.jpg);
    background-repeat: no-repeat;
    background-position:right top;
}
    .nossostrabalhos h2{
        margin-top: 25px;
        color: #CE5404;
        text-transform: uppercase;
        font-family: Arial;
        font-size: 40px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }
    .nossostrabalhos span{
        color: #1E1E1E;
        text-align: center;
        font-family: Arial;
        font-size: 25px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;

    }

    .nossostrabalhos img{
        margin-top: 25px;
        width: 95%;
    }

.team-image{
    position: relative;
}

.team-image:hover .reforma{display: flex;}
.team-image:hover .construcao{display: flex;}

.construcao{
    margin-top: 25px;
    flex-direction: column;
    position: absolute;
    top: 0;
    left: 0;
    width: 95%;
    height: 95%;
    display: none;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 49, 79, 0.50);    
}
    .construcao h3{
        color: #FFF;
        font-family: Arial;
        font-size: 40px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }
    .construcao p{
        color: #FFF;
        text-align: center;
        font-family: Arial;
        font-size: 35px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
.reforma{
    color: white;
    margin-top: 25px;
    flex-direction: column;
    position: absolute;
    top: 0;
    left: 0;
    width: 95%;
    height: 95%;
    display: none;
    align-items: center;
    justify-content: center;
    background-color: rgba(206, 84, 4, 0.50);
}
.reforma h3{
    color: #FFF;
    font-family: Arial;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.reforma p{
    color: #FFF;
    text-align: center;
    font-family: Arial;
    font-size: 35px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.proximopasso{
    margin-top: 50px;
    background-image: url(imagens/footer.jpg);
    background-repeat: no-repeat;
    background-position:left;
}

    .proximopasso h2{
        text-transform: uppercase;
        color: #CE5404;
        text-align: right;
        font-family: Arial;
        font-size: 40px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }
    .proximopasso p{
        color: #1E1E1E;
        text-align: right;
        font-family: Arial;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
    .proximopasso a{
        color: #FFF;
        font-family: Arial;
        font-size: 25px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        border-radius: 150px;
        background: #00314F;
        text-decoration: none;
        padding: 8px 50px;
    }
    
.rodape{   
    background: #00314F;
    height: 34px;
}

.slick-lightbox-slick-caption{
    background-color: orange;
    
}